body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
#main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.1);
    background-color: white;
}

.sidebar{
    background-color: #1E2939;
    width: 370px;
    padding-top: 40px;
    
}

.sbTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
}

.contactSection{
    margin: 50px 0 47px 40px;
}
.contactSectionType{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.contactSectionLink{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration: none;
    margin-left: 10px ;
}
.tsList{
    padding: 0 0 0 17px;
}
.tsItem{
    color:#FB6D3A;

}
.tsText{
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
/*Estilos Main Content*/
.mainContainer{
    padding: 102px 88px;
}
.aboutSec{
    margin-bottom: 40px;
}
.aboutTitle{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    margin-top: 0;
}
.aboutName{
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.aboutDesc{
    width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.proyectTit{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 8px 0;
}
.proyectList{
    margin: 0;
    padding: 0 0 0 17px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

}
.proyectItem{
    
}
.proyectAn{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}
.proyectBra{
    color: black;
}
/*Work experience*/
.expContainer{
    margin-bottom: 43px;
}
.expTitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}
.companyCont{
    
}
.compTitle{

}